<h3><i class="fa fa-heart"></i> MarriageCeremony</h3>
<div class="section">
    <p class="lead">Create the best wedding of your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darknen-1">
    <i class="fab fa-google left"></i> log in with Google
    </a>
</div>